# Keep the folders, ignore their contents (track a .gitkeep file)
/data/**
!/data/.gitkeep

/checkpoints/**
!/checkpoints/.gitkeep

/spectrograms/**
!/spectrograms/.gitkeep

# Python cache
__pycache__/

# Local env folder (not part of source)
Unet_tp_son/

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.pyc
*.pyo
*.pyd

# Model checkpoints (generic)
*.pth
*.pt
*.ckpt


