# Ignore data folders
/data/

# Ignore Python cache
__pycache__/

# Ignore virtual environments
Unet_tp_son/

# Ignore Jupyter Notebook checkpoints
checkpoints/
spectrograms/
struct
docs/
checkpoints/model_last.pth


# Ignore OS files
.DS_Store
Thumbs.db

# Ignore compiled files
*.pyc
*.pyo
*.pyd


# Ignore model checkpoints 
checkpoints/
*.pth
*.pt
*.ckpt


