# Keep the folders, ignore their contents (track a .gitkeep file)
/data/**
!/data/.gitkeep
/outputs/**
!/outputs/.gitkeep
/eval/
/checkpoints/**
!/checkpoints/.gitkeep
outputs/
/outputs/
/spectrograms/**
!/spectrograms/**/.gitkeep

# Python cache
__pycache__/


struct
# Local env folder (not part of source)
Unet_tp_son/

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.pyc
*.pyo
*.pyd
*.wav


# Model checkpoints (generic)
*.pth
*.pt
*.ckpt

*.Loss_1.png

